.Question{
    text-align: center;
    font-family: "Nerko one", cursive;
    font-weight: 500;
    font-size: 7vh;
    color: #1E7E9C;
}

p{
    font-family: 'roboto';
    
}

.Right button{
    background-color: #32cf01 !important;

}

.Wrong button{
    background-color: red !important;
}
img{
    height: 150px;
    width: 150px;
    
}
.Contenedor{
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex ;

}

.tabla{
text-align: center;
width: 65%;
background: white;
border-radius: 1px;
box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
display: flex;
flex-wrap: wrap ;
align-items: center ;
}
li{
    width: 20%;
    height: 20%;
   margin: 1%;
    float: left;
    list-style: none;
}

 .ans button {
   border:black 5px; 
   display:inline-block;
    width: auto;
    background: #ffffff;
    cursor: pointer;
 
}

.Bajate{
    width: 50%;
    height: 100%;
    float: right;
}
.sig{
    border-radius: 10px;
     width: 20%;
     height: 15%;
     margin-right: 5%;
     float: right;
     background-color: #23385c;
     color: white;
     font-family: 'roboto';
     cursor: pointer;
}

.imagenes{

    text-align: center;
    

}
.RightCSS{
    display: inline-flex;
    width: auto;
    margin-right: 20px;
    font-family: 'roboto';
    
}
.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}

.overlay:target {
visibility: visible;
opacity: 1;
}

.popup {
margin: 70px auto;
padding: 20px;
background: #ffffff;
border-radius: 5px;
width: 85%;
position: relative;
transition: all 5s ease-in-out;
font-family: 'Roboto', sans-serif;
}

.popup h2 {
text-align: center;
margin-top: 0;
color: #333;
font-family: 'Roboto', sans-serif;
}

.popup .close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}

.popup .close:hover {
color: #E5F720;
}

.popup .content-1{
max-height: 30%;
overflow: auto;
text-align: center;
}

.show {
visibility: visible !important;
opacity: 100 !important;
}

#starRating li {
display: inline-block;
}


#next-level {
text-decoration: none;
background-color:#23385c;
padding: 0.7rem 1rem;
font-size: 1.1rem;
display: block;
margin: 0 auto;
width: 50%;
font-family: 'Roboto', sans-serif;
color: #ffffff;
border-radius: 5px;
cursor: pointer;
}

.btn-navbar{
text-decoration: none;
background: white;
color: #1E7E9C;
border-radius: 10px;
border-style: solid;
border-color: #1E7E9C;
padding: 5px 10px;
font-family: "Nerko one", cursive;
font-weight: 700;
font-size: x-large;
margin: 2vh;
}

.btn-navbar:hover{
color: white;
background: #1E7E9C;
}

.span-lesandi{
text-decoration: none;
color: #1E7E9C;
padding: 5px 10px;
font-family: "Nerko one", cursive;
font-weight: 700;
font-size: x-large;

float: right;
}