/* TITULO HOME LESANDI*/
.titulo-lesandi{
    width: 100vw;
    height: auto;
    text-align: left;
    color: #1d7e9b;
    font-family: 'Nerko One', cursive;
    font-weight: 900;
    font-size: 7vh;
    padding-left: 5vw;
}
/* FIN */

/* DIV LOGO */
.logo-content{
    width: 100vw;
    height: auto;
    text-align: center;
}

.img-logo{
    width: 25vw;
    height: auto;
}

/* Botones */
.div-boton-login{
    width: 100vw;
    height: auto;
    text-align: center;
    margin-top: 5vh;
}

.boton-home-login{
    width: 20vw;
    border-radius: 10px;
    border-color: #1d7e9b;
    border-style: solid;
    border-width: 5px;
    color: #1d7e9b;
    font-family: "Nerko one", cursive;
    font-size: 2vw;
    padding: 1vh 5vw;
}

.boton-home-login:hover{
    background: #1d7e9b;
    color: #ffffff;
    text-decoration: none;
}

.div-boton-register{
    width: 100vw;
    height: auto;
    text-align: center;
    margin-top: 5vh;
}

.boton-home-register{
    width: 20vw;
    border-radius: 10px;
    border-color: #1d7e9b;
    border-style: solid;
    border-width: 5px;
    color: #1d7e9b;
    font-family: "Nerko one", cursive;
    font-size: 2vw;
    padding: 1vh 5vw;
}

.boton-home-register:hover{
    background: #1d7e9b;
    color: #ffffff;
    text-decoration: none;
}

/* Frase */
.h3-home{
    width: 100vw;
    height: auto;
    text-align: center;
    color: #0077b6;
    margin-top: 2vh;
}

.h3-home h3{
    font-family: "Nerko one", cursive;
    font-size: 8vh;
}

/* BURBUJAS ANIMADAS */

.bubble{
    border-radius: 50%;
    background: #ff8a2a;
    opacity: .3;
    position: absolute;
    bottom: -150;
    animation: bubbles 3s linear infinite ;
}

.bubble:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
    z-index: 100;
}

.bubble:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
    z-index: 90;
}

.bubble:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
    z-index: 80;
}

.bubble:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
    z-index: 70;
}

.bubble:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
    z-index: 65;
}

.bubble:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
    z-index: 75;
}

.bubble:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
    z-index: 95;
}

.bubble:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
    z-index: 50;
}

.bubble:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
    z-index: 40;
}

.bubble:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
    z-index: 30;
}


@keyframes bubbles{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}