.div-titulo{
    align-items: center;
    text-align: center;
    margin: 6vh;
}

.div-titulo p{
    font-family: "Nerko one", cursive;
    font-weight: 500;
    font-size: 8vh;
    color: #1E7E9C;
}

.div-games-left{
    width: 33vw;
    height: auto;
    display: inline-flex;
    float: left;
    text-align: center;
    place-content: center;
}


.div-games-center{
    width: 33vw;
    height: auto;
    display: inline-flex;
    text-align: center;
    place-content: center;
}

.div-games-right{
    width: 33vw;
    height: auto;
    float: right;
    display: inline;
    text-align: center;
    display: inline-flex;
    place-content: center;
}

.button-games{
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    color: white !important;
    padding: 1vh 3vw;
    bottom: 0;
}

/* CSS NavbarRest */
.navbar-span{
    color: #1E7E9C;
    font-family: Roboto;
    font-weight: 700;
    font-size: x-large;
}

.btn-navbar{
    background: white;
    color: #1E7E9C;
    border-radius: 10px;
    border-style: solid;
    border-color: #1E7E9C;
    padding: 5px 10px;
    font-family: Roboto;
    font-weight: 700;
    font-size: x-large;
}

.btn-navbar:hover{
    color: white;
    background: #1E7E9C;
}

