/* As hex codes */

.color-primary-0 { color: #1D7F9B }	/* Main Primary color */
.color-primary-1 { color: #60ACC2 }
.color-primary-2 { color: #3990A8 }
.color-primary-3 { color: #086984 }
.color-primary-4 { color: #035268 }

.color-secondary-1-0 { color: #F9BA28 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFD77A }
.color-secondary-1-2 { color: #FFCB51 }
.color-secondary-1-3 { color: #D49707 }
.color-secondary-1-4 { color: #A77500 }

.color-secondary-2-0 { color: #F94428 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FF8C7A }
.color-secondary-2-2 { color: #FF6851 }
.color-secondary-2-3 { color: #D42307 }
.color-secondary-2-4 { color: #A71700 }

.div-titulo{
    align-items: center;
    text-align: center;
    margin: 6vh;
}

.div-titulo p{
    font-family: Roboto, cursive;
    font-weight: 500;
    font-size: 8vh;
    color: #1E7E9C;
}

.div-games-left{
    width: 30vw;
    height: auto;
    display: inline-flex;
    float: left;
    text-align: center;
    place-content: center;
    margin-right: 4vw;
}

.div-games-center{
    width: 30vw;
    height: auto;
    display: inline-flex;
    text-align: center;
    place-content: center;
}

.div-games-right{
    width: 30vw;
    height: auto;
    float: right;
    display: inline;
    text-align: center;
    display: inline-flex;
    place-content: center;
    margin-left: 4vw;
}

.div-img{
  font-family: Roboto, cursive;
  font-size: 15vw;
  color: #F94428;
  border-color: #1a4a72;
  border-radius: 50vw;
  border-style: solid;
  border-width: 1vw;
}

.button-games{
    border-radius: 20px;
    border-color: #1a4a72;
    border-style: solid;
    border-width: 3px;
    padding: 1vh 3vw;
    bottom: 0;
}

/* CSS NavbarRest */
.navbar-inicio{
  width: 99vw;
  height: 5vw;
  padding-top: 3vh;
}

.navbar-span{
    font-family: Roboto, cursive;
    color: #1E7E9C;
    font-weight: 500;
    font-size: 2vw;
    float: right;
    margin-right: 4vw;
}
.btn-navbar-inicio, .btn-navbar{
    background: white;
    color: #1E7E9C;
    border-radius: 1vw;
    border-style: solid;
    border-color: #1E7E9C;
    font-family: Roboto, cursive;
    font-weight: 700;
    font-size: 2vw;
    padding: 1vh 1vw;
    margin-left: 1vw;
}

.btn-navbar-inicio:hover{
    color: white;
    background: #1E7E9C;
    text-decoration: none;
}

/* _-------------------------_ */
.ih-item {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .ih-item,
  .ih-item * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ih-item a {
    color: #1a4a72;
    font-family: Roboto, cursive;
    font-size: 3vh;
  }
  .ih-item a:hover {
    text-decoration: none;
  }
  .ih-item img {
    width: 25vw;
    height: auto;
  }
  
  .ih-item.circle {
    position: relative;
    width: 25vw;
    height: auto;
    border-radius: 50%;
  }
  .ih-item.circle .img {
    position: relative;
    width: 25vw;
    height: auto;
    border-radius: 50%;
  }
  .ih-item.circle .img:before {
    position: absolute;
    display: block;
    content: '';
    width: 25vw;
    height: auto;
    border-radius: 50%;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .ih-item.circle .img img {
    border-radius: 50%;
  }
  .ih-item.circle .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .ih-item.circle.effect9 .img {
    opacity: 1;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
  }
  .ih-item.circle.effect9.colored .info {
    background: #F94428;
  }
  .ih-item.circle.effect9 .info {
    background: #FF6851;
    border-color: #1a4a72;
    border-style: solid;
    border-width: 1vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.35s ease 0.2s;
    -moz-transition: all 0.35s ease 0.2s;
    transition: all 0.35s ease 0.2s;
  }
  .ih-item.circle.effect9 .info h3 {
    color: #1a4a72;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 4.5vh;
    font-family: Roboto, cursive;
    margin: 0 30px;
    padding: 55px 0 0 0;
    height: 110px;
  }
  .ih-item.circle.effect9 .info p {
    color: #1a4a72;
    padding: 10px 5px;
    font-family: Roboto, cursive;
    margin: 0 30px;
    font-size: 3vh;
    border-top: 1px solid white;
  }
  .ih-item.circle.effect9 a:hover .img {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  .ih-item.circle.effect9 a:hover .info {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  .ih-item.circle.effect9.left_to_right .img {
    -webkit-transform: translateX(0) rotate(0);
    -moz-transform: translateX(0) rotate(0);
    -ms-transform: translateX(0) rotate(0);
    -o-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
  .ih-item.circle.effect9.left_to_right a:hover .img {
    -webkit-transform: translateX(100%) rotate(180deg);
    -moz-transform: translateX(100%) rotate(180deg);
    -ms-transform: translateX(100%) rotate(180deg);
    -o-transform: translateX(100%) rotate(180deg);
    transform: translateX(100%) rotate(180deg);
  }
  
  .ih-item.circle.effect9.right_to_left .img {
    -webkit-transform: translateX(0) rotate(0);
    -moz-transform: translateX(0) rotate(0);
    -ms-transform: translateX(0) rotate(0);
    -o-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
  .ih-item.circle.effect9.right_to_left a:hover .img {
    -webkit-transform: translateX(-100%) rotate(-180deg);
    -moz-transform: translateX(-100%) rotate(-180deg);
    -ms-transform: translateX(-100%) rotate(-180deg);
    -o-transform: translateX(-100%) rotate(-180deg);
    transform: translateX(-100%) rotate(-180deg);
  }
  
  .ih-item.circle.effect9.top_to_bottom .img {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .ih-item.circle.effect9.top_to_bottom a:hover .img {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  
  .ih-item.circle.effect9.bottom_to_top .img {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .ih-item.circle.effect9.bottom_to_top a:hover .img {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  
  .ih-item.square.effect9 {
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    perspective: 900px;
  }
  .ih-item.square.effect9.colored .info .info-back {
    background: #F94428;
  }
  .ih-item.square.effect9.colored .info h3 {
    background: #F94428;
  }
  .ih-item.square.effect9 .img {
    position: relative;
    z-index: 11;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .ih-item.square.effect9 .info {
    z-index: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .ih-item.square.effect9 .info .info-back {
    opacity: 1;
    width: 25vw;
    height: auto;
    padding-top: 30px;
    background: #F94428;
  }
  .ih-item.square.effect9 .info h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background: #F94428;
    margin: 0;
  }
  .ih-item.square.effect9 .info p {
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #bbb;
    padding: 20px 20px 20px;
    text-align: center;
  }
  
  .ih-item.square.effect9.left_to_right .img {
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  .ih-item.square.effect9.left_to_right a:hover .img {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    -ms-transform: rotate3d(0, 1, 0, 180deg);
    -o-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
  }
  
  .ih-item.square.effect9.right_to_left .img {
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  .ih-item.square.effect9.right_to_left a:hover .img {
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -ms-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
    transform: rotate3d(0, 1, 0, -180deg);
  }
  
  .ih-item.square.effect9.top_to_bottom .img {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  .ih-item.square.effect9.top_to_bottom a:hover .img {
    -webkit-transform: rotate3d(1, 0, 0, -180deg);
    -moz-transform: rotate3d(1, 0, 0, -180deg);
    -ms-transform: rotate3d(1, 0, 0, -180deg);
    -o-transform: rotate3d(1, 0, 0, -180deg);
    transform: rotate3d(1, 0, 0, -180deg);
  }
  
  .ih-item.square.effect9.bottom_to_top .img {
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  .ih-item.square.effect9.bottom_to_top a:hover .img {
    -webkit-transform: rotate3d(1, 0, 0, 180deg);
    -moz-transform: rotate3d(1, 0, 0, 180deg);
    -ms-transform: rotate3d(1, 0, 0, 180deg);
    -o-transform: rotate3d(1, 0, 0, 180deg);
    transform: rotate3d(1, 0, 0, 180deg);
  }

  @media only screen and (max-width: 1024px) and (min-width: 981px) {  
    .navbar-inicio{
      height: 10vh;
    }
    .btn-navbar-inicio{
      margin-left: 5vh;
      font-size: 3vh;
    }
    .navbar-span{
      font-size: 3vh;
    }
    .btn-navbar{
      font-size: 3vh;
    }
    /* FIN NAVBAR */
    .div-titulo p{
      font-size: 5vh;
    }
    .div-games-left, .div-games-center ,.div-games-right{
      width: 50vw;
      height: 50vw;
      margin: 5vw 25vw;
      float: none;
    }
    .div-img{
      visibility: hidden;
    }
    .ih-item.circle{
      width: 80vw;
    }
    .ih-item.circle.effect9 .info {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
    .ih-item.circle.effect9 .info h3{
      font-size: 4vh;
      margin: 0;
      padding-top: 4vh;
      height: auto;
    }
    .ih-item.circle.effect9 .info p{
      font-size: 3vh;
      margin: 0;
      padding-top: 0vh;
    }
    .ih-item.circle.effect9 .info a{
      font-size: 3vh;
      margin: 0;
      padding-top: 0vh;
    }
  }  
  
  /* Para 960px */  
  @media only screen and (max-width: 980px) and (min-width: 821px) {  
    .navbar-inicio{
      height: 10vh;
    }
    .btn-navbar-inicio{
      margin-left: 5vh;
      font-size: 3vh;
    }
    .navbar-span, .btn-navbar{
      font-size: 5vw;
    }
      /*---------FIN CSS NAVBAR----------*/
    .div-titulo p{
      font-size: 5vh;
    }
    .div-games-left, .div-games-center ,.div-games-right{
      width: 50vw;
      height: 50vw;
      margin: 5vw 25vw;
      float: none;
    }
    .div-img{
      visibility: hidden;
    }
    .ih-item.circle{
      width: 80vw;
    }
    .ih-item.circle.effect9 .info {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
    .ih-item.circle.effect9 .info h3{
      font-size: 3vh;
      margin: 0;
      padding-top: 4vh;
      height: auto;
    }
    .ih-item.circle.effect9 .info p{
      font-size: 2vh;
      margin: 0;
      padding-top: 0vh;
    }
    .ih-item.circle.effect9 .info a{
      font-size: 3vh;
      margin: 0;
      padding-top: 0vh;
    }
  }  
  
  /* Para 800px */  
  @media only screen and (max-width: 820px) and (min-width: 621px) {  
    .navbar-inicio{
      height: 10vh;
    }
    
    .btn-navbar-inicio{
      margin-left: 5vh;
      font-size: 3vh;
    }
  
    .navbar-span{
      font-size: 3vh;
    }
    .div-titulo p{
      font-size: 5vh;
    }
    .div-games-left, .div-games-center ,.div-games-right{
      width: 50vw;
      height: 50vw;
      margin: 5vw 25vw;
      float: none;
    }
    .div-img{
      visibility: hidden;
    }
    .ih-item.circle{
      width: 80vw;
    }
    .ih-item.circle.effect9 .info {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
    .ih-item.circle.effect9 .info h3{
      font-size: 4vh;
      margin: 0;
      padding-top: 4vh;
      height: auto;
    }
    .ih-item.circle.effect9 .info p{
      font-size: 3vh;
      margin: 0;
      padding-top: 0vh;
    }
    .ih-item.circle.effect9 .info a{
      font-size: 3vh;
      margin: 0;
      padding-top: 0vh;
    }
  }
  
  /* Para 600px */  
  @media only screen and (max-width: 620px) and (min-width: 501px) {  
    .navbar-inicio{
      height: 10vh;
    }
    
    .btn-navbar-inicio{
      margin-left: 5vh;
      font-size: 3vh;
    }
  
    .navbar-span{
      font-size: 3vh;
    }
    .div-titulo p{
      font-size: 5vh;
    }
    .div-games-left, .div-games-center ,.div-games-right{
      width: 50vw;
      height: 50vw;
      margin: 5vw 25vw;
      float: none;
    }
    .div-img{
      visibility: hidden;
    }
    .ih-item.circle{
      width: 80vw;
    }
    .ih-item.circle.effect9 .info {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
    .ih-item.circle.effect9 .info h3{
      font-size: 3vh;
      margin: 0;
      padding-top: 4vh;
      height: auto;
    }
    .ih-item.circle.effect9 .info p{
      font-size: 2vh;
      margin: 0;
      padding-top: 0vh;
    }
    .ih-item.circle.effect9 .info a{
      font-size: 3vh;
      margin: 0;
      padding-top: 0vh;
    }
  }  
  
  /* Para 480px */  
  @media only screen and (max-width: 500px) and (min-width: 341px) {  
    .navbar-inicio{
      height: 10vh;
    }
    .btn-navbar-inicio{
      margin-left: 5vh;
      font-size: 3vh;
    }
    .navbar-span, .btn-navbar{
      font-size: 5vw;
    }
      /*---------FIN CSS NAVBAR----------*/
    .div-titulo p{
      font-size: 5vh;
    }
    .div-games-left, .div-games-center ,.div-games-right{
      width: 60vw;
      height: 60vw;
      margin: 5vw 20vw;
      float: none;
    }
    .div-img{
      visibility: hidden;
    }
    .ih-item.circle{
      width: 80vw;
    }
    .ih-item.circle.effect9 .info {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
    .ih-item.circle.effect9 .info h3{
      font-size: 3vh;
      margin: 0;
      padding-top: 4vh;
      height: auto;
    }
    .ih-item.circle.effect9 .info p{
      font-size: 1.8vh;
      margin: 0;
      padding-top: 0vh;
    }
    .ih-item.circle.effect9 .info a{
      font-size: 3vh;
      margin: 0;
      padding-top: 0vh;
    }
  }  
  
  /* Para 320px */  
  @media only screen and (max-width: 340px) and (min-width: 5px)  {  
    .navbar-inicio{
      height: 10vh;
    }
    
    .btn-navbar-inicio{
      margin-left: 5vh;
      font-size: 3vh;
    }
  
    .navbar-span{
      font-size: 3vh;
    }
    .div-titulo p{
      font-size: 5vh;
    }
    .div-games-left, .div-games-center ,.div-games-right{
      width: 50vw;
      height: 50vw;
      margin: 5vw 25vw;
      float: none;
    }
    .div-img{
      visibility: hidden;
    }
    .ih-item.circle{
      width: 80vw;
    }
    .ih-item.circle.effect9 .info {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
    .ih-item.circle.effect9 .info h3{
      font-size: 3vh;
      margin: 0;
      padding-top: 4vh;
      height: auto;
    }
    .ih-item.circle.effect9 .info p{
      font-size: 2vh;
      margin: 0;
      padding-top: 0vh;
    }
    .ih-item.circle.effect9 .info a{
      font-size: 3vh;
      margin: 0;
      padding-top: 0vh;
    }
  }